.lmj-banner {
	color: black;
	background-color: rgba(214, 255, 199, 0.5);
	text-align: right;
	padding: 32px;
	border-bottom: solid 1px #238756;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
	padding-left: 15px;
}

.lmj-logo {
	height: 45px;
	width: 45px;
}