.lmj-cart {
	color: white;
	background-color: #238756;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 300px;
}

.lmj-cart-add-button {
	margin-left: 32px;
	cursor: pointer;
}

.lmj-cart-toggle-button {
	background: none;
	outline: none;
	border: none;
	font-size: 1em;
	font-weight: 600;
	cursor: pointer;
	align-self: self-start;
	padding: 0;
	color: white;
	align-self: flex-end;
	margin-bottom: 5px;
}

.lmj-cart-closed {
	padding: 32px;
	width: 300px;
	background-color: rgba(214, 255, 199, 0.5);
	border-right: solid 3px #238756;
}

.lmj-cart-closed > button {
	display: inline-block;
	font-weight: bold;
	color: white;
	padding: 10px 10px;
	border-radius: 10px;
	border: none;
	background-color: #238756;
}

.btn-clear {
	display: inline-block;
	font-weight: bold;
	color: #238756;
	padding: 10px 10px;
	border-radius: 10px;
	border: none;
	background-color: white;
}
