.lmj-categories {
	background-color: rgba(214, 255, 199, 0.5);
	text-align: center;
	padding-top: 30px;
}

.lmj-categories-select {
	margin-right: 15px;
	border-radius: 10px;
	padding: 10px 15px;
}

.btn-re {
	display: inline-block;
	font-weight: bold;
	color: white;
	padding: 10px 15px;
	border-radius: 10px;
	border: none;
	background-color: #238756;
}